$black: #000;
$white: #fff;
$border-button-color: #d5d5d5;
$table-hover-text-color: #dd9f42;
$table-title-color: rgba(0, 0, 0, 0.4);
$bio-color: rgba(0, 0, 0, 0.5);
$close-button-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
$preloader-box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.12);
$table-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.18);

$transition-duration: 300ms;
$table-header-height: 72px;